[DEFAULT]
HOST:               <Host or subdomain. @ for base domain, test if domain is test.example.com>
DOMAIN:             <Domain name>
DDNS_PASSWORD:      <dyndns password, NOT Namecheap account password>
UPDATE_INTERVAL:    600
